*.dat
amx-items
elpa/
*~
*.eld
recentf
archive/
external_scripts/lmutracker
eshell/history
eshell/lastdir
transient/
/straight/bootstrap.el
/straight/build-cache.el
/straight/build/
/straight/repos/
/url/
/custom.el
/lsp-cache/
/straight/modified/
/.lsp-session-v1
/geben/
/forge-database.sqlite
/bookmarks
/.DS_Store
/network-security.data
/diary
/elpy/
/tramp
/var/
/.spotify_auth
/.erc-auth
/ext_lisp/
/racket-mode/
/places
/projects
/.org-id-locations
